@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);

.video {
  padding: 100px 0 0 0;
  margin:  0 0 -60px;
  display: flex;
  flex-direction: column;
  align-items: center;

}