@import url(./__heading/table__heading.css);
@import url(./__text/table__text.css);
@import url(./__cell/table__cell.css);
@import url(./__cell/_theme/table__cell_theme_dark.css);

.table {
    width: 1100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

